:root {
  --vp-c-brand: #52f8c6;
  --vp-c-brand-light: #c8f8ea;
  --vp-button-brand-text: black;
   --vp-button-brand-hover-text: black;
  --vp-button-brand-hover-bg: #42c69e;
}

body {
  font-family: 'Rubik';
  font-size: 1.1rem;
}

::selection {
  background-color: #c8f8ea;
  color: black !important;
}

@font-face {
  font-family: 'Rubik';
  src: url('/Rubik-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/Rubik-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
