:root {
    font-family: 'Brutal Type', Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-size: 3rem;
}

#app {
    height: 100dvh;
    display: grid;
    grid-template-rows: 80% 20%;
}