.laufsteg-container {
  cursor: grab;
  width: 100%;
  overflow: hidden;
  visibility: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none;
  user-select: none;
}

.laufsteg-container.laufsteg-ready {
  visibility: visible;
}

.laufsteg-trolley {
  will-change: transform;
  display: flex;
  flex-wrap: nowrap;
}

.laufsteg-cell {
  /*position: absolute;*/
  /*top: 0;*/
  padding: 0 calc(var(--laufsteg-cell-gap) / 2);
  width: max-content;
  will-change: transform;
}
